In [2]:
import pandas as pd
import folium

In [3]:
df=pd.read_csv('all.csv')

In [9]:
df.head()

,type_of_violence,country,city,latitude,longitude,coordinates,Unnamed: 6,region,year
0,1,Yemen (North Yemen),Şan‘ā’ city,15.354722,44.206667,POINT (44.206667 15.354722),NaN,Middle East,2010
1,3,Yemen (North Yemen),‘Adan town,12.779444,45.036667,POINT (45.036667 12.779444),NaN,Middle East,2011
2,1,Yemen (North Yemen),Abyan governorate,13.786202,46.141765,POINT (46.141765 13.786202),NaN,Middle East,2011
3,1,Yemen (North Yemen),Abyan governorate,13.786202,46.141765,POINT (46.141765 13.786202),NaN,Middle East,2012
4,1,Yemen (North Yemen),‘Ab?dah valley,15.616667,45.300000,POINT (45.300000 15.616667),NaN,Middle East,2012

In [8]:
df=df.rename(columns={'type  of violence':'type_of_violence'})

In [11]:
df.columns

Index(['type_of_violence', 'country', 'city ', 'latitude', 'longitude',
       'coordinates', 'Unnamed: 6', 'region', 'year'],
      dtype='object')

In [54]:
from folium import Html
# create map and display it
sanfran_map = folium.Map(tiles='cartodbpositron')
colors = {
    1: "blue",
    2: "green",
    3: "red",
    # Add more categories and colors as needed
}
# loop through the 100 crimes and add each to the map
for lat, lng, label, category,year in zip(df.latitude, df.longitude, df.type_of_violence, df.type_of_violence,df.year):
    popup_text =folium.Html( f"""
       <b> Type of Violence:</b> {label}<br>
        <b>year:</b> {year}<br>
        <b>latitude:</b> {lat}<br>
        <b>longitude:</b> {lng}<br>
   """,script=True )
    folium.features.CircleMarker(
        [lat, lng],
        radius=5, # define how big you want the circle markers to be
        color=colors[category],
        fill=True,
#         popup=[label,year,lat,lng],
        popup=folium.Popup(popup_text, parse_html=True,max_width=2650),
#         popup=popup_text,
        fill_color=colors[category],
        fill_opacity=0.6
    ).add_to(sanfran_map)

# show map
sanfran_map.save('map.html')